
<div class="container-fluid">

 
    <div class="jumbotron-fluid ">
        
          <h1 class="display-1">notewHERthy</h1>
          <p class="lead">Ordinary Women. Extraordinary Impact.</p>
    </div>
    
    <div class="navbar">
        <div class="col"></div>
        <div class="col-4">
          <div class="text-center">
              <ul class="nav justify-content-center">
                  
                  <li class="nav-item" >
                    <a class="nav-link" routerLink="/home" >HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" >Recent</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" >CONTACT</a>
                  </li>
                </ul>
          </div>
        </div>
        <div class="col"></div>
    
      </div>
   
    
    
  
    <div class="row">
      <div class="col">

      </div>
      <div class="col-4">
        <h1 class="text-center">{{profile.name}}</h1> <br><br>
        
        <img class="img-thumbnail" alt="Generic placeholder image">
          <div>
            <br>
            <p>{{profile.body}}</p>
            
          </div>
          
      </div>
      <div class="col">

      </div>
    </div>
    <div>
        <span class="d-block text-center">
          @COPYRIGHT or something goes here
        </span>
    </div>
  </div>